/* Home */
.home{
    position: relative;
    width: 1920px;
    height: 800px;
    background: #FFFFFF;
}

/* Background */
.background{
    position: absolute;
    width: 1010px;
    height: 650px;
    left: 467px;
    top: 75px;

    background: #FAFAFA;
    box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

/* Input text */
.input-text{
    position: absolute;
    width: 555px;
    height: 60px;
    left: 694px;
    top: 405px;
}

/* Rectangle 8 */
.rectangle8{
    position: absolute;
    width: 555px;
    height: 60px;
    left: 694px;
    top: 405px;

    background: #F4F4F4;
    border-radius: 60px;
}

/* Comece informando seu melhor e-mail */
.email-field{
    position: absolute;
    width: 317px;
    height: 21px;
    left: 723px;
    top: 423px;

    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #646464;
}


/* Input text */
.input-text{
    position: absolute;
    width: 555px;
    height: 60px;
    left: 694px;
    top: 485px;
}


/* Rectangle 8 */
.rectangle8{
    position: absolute;
    width: 555px;
    height: 60px;
    left: 694px;
    top: 485px;

    background: #F4F4F4;
    border-radius: 60px;
}

/* Agora seu nome */
.name-field{
    position: absolute;
    width: 133px;
    height: 21px;
    left: 723px;
    top: 503px;

    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #646464;
}


/* Botão */
.btn{
    position: absolute;
    width: 555px;
    height: 60px;
    left: 694px;
    top: 565px;
}


/* Rectangle 4 */
.rectangle4{
    position: absolute;
    width: 555px;
    height: 60px;
    left: 694px;
    top: 565px;

    background: #8DE07F;
    border-radius: 60px;
}

/* ME INSCREVER */
.btn-inscrever{
    position: absolute;
    width: 131px;
    height: 29px;
    left: 906px;
    top: 581px;

    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 159.5%;
    /* identical to box height, or 29px */

    color: #FFFFFF;
}


/* Inscreva-se em nossa newsletter e receba semanalmente conteúdo sobre negócios e dicas para aumentar suas vendas. */
label{
    position: absolute;
    width: 684px;
    height: 58px;
    left: 630px;
    top: 280px;

    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 159.5%;
    /* or 29px */
    text-align: center;

    color: #646464;
}


/* Shopmee brand */
.logo{
    position: absolute;
    width: 250px;
    height: 59.01px;
    left: 835px;
    top: 174px;
}


/* shopmee */
.shopmee{
    position: absolute;
    width: 250px;
    height: 58.72px;
    left: 835px;
    top: 174px;

    background: #FF7D63;
}

/* Rectangle 1 */
.rectangle1{
    position: absolute;
    width: 6.54px;
    height: 79.13px;
    left: 1051.54px;
    top: 226.48px;

    background: #DFDFDF;
    border-radius: 50px;
    transform: rotate(90deg);
}

/* Rectangle 2 */
.rectangle2{
    position: absolute;
    width: 6.54px;
    height: 79.13px;
    left: 1051.48px;
    top: 174px;

    background: #DFDFDF;
    border-radius: 50px;
    transform: rotate(90deg);
}