<h2 mat-dialog-title>Tem certeza?</h2>
<h2 mat-dialog-title>Remover ID: {{data.id}}</h2>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="confirmar()">Confirmar</button>
    <button mat-raised-button color="warning" (click)="close()">Cancelar</button>
</mat-dialog-actions>
