button:disabled,
button[disabled]{
  background-color: #666666;
  color: black;
}

button{
    margin-right: 10px;
}

.mat-raised-button.mat-warning {
    color: white;
    background-color: hsla(0, 80%, 35%, 1);
}

