<h2 mat-dialog-title>Alterar dados: ID {{data.id}}</h2>
<h2 mat-dialog-title>E-mail atual: {{data.email}}</h2>
<h2 mat-dialog-title>Nome atual: {{data.nome}}</h2>

<mat-dialog-content>
    <form name="visitanteForm" id="visitanteForm">
        <fieldset>
            <mat-form-field>
                <input matInput name="visitanteEmail" type="email" id="visitanteEmail" placeholder="E-mail"
                value="" minlength="2" required aria-required="true" [(ngModel)]="visitante.email">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput name="visitanteName" type="text" id="visitanteName" placeholder="Nome"
                value="" minlength="2" required aria-required="true" [(ngModel)]="visitante.nome">
            </mat-form-field>
        </fieldset>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!visitante.email || !visitante.nome" >Confirmar</button>
    <button mat-raised-button color="warning" (click)="close()">Cancelar</button>
</mat-dialog-actions>