<!DOCTYPE html>  
<html class="no-js" lang="pt-br">

    <head>
    </head>

<body id="home">
    <section id="visitante">
        <div class="home-content">
            <div class="home-background">
                <div class="logo">
                    <img src="assets/images/Shopmee brand.png">
                </div>
                <p>Inscreva-se em nossa newsletter e receba semanalmente <strong>conteúdo sobre negócios e dicas para aumentar suas vendas.</strong></p>
                <form name="visitanteForm" id="visitanteForm" method="post" #v="ngForm">
                    <fieldset>
                        <div class="form-field">
                            <input name="visitanteEmail" type="email" id="visitanteEmail" placeholder="Comece informando seu melhor e-mail"
                            value="" minlength="2" required="" aria-required="true" [(ngModel)]="visitante.email">
                        </div>
                        <div class="form-field">
                            <input name="visitanteName" type="text" id="visitanteName" placeholder="Agora seu nome"
                            value="" minlength="2" required="" aria-required="true" [(ngModel)]="visitante.nome">
                        </div>
                        <div class="form-field">
                            <button class="btn" [disabled]="!visitante.email || !visitante.nome" (click)="subscription(v)">ME INSCREVER</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</body>

</html>