@font-face {
    font-family: Rubik;
    src: "assets/fonts/rubik";
}

#home{
    position: relative;
    width: 1920px;
    height: 800px;
    background: #FFFFFF;
    overflow: hidden;
}

.home-background{
    position: absolute;
    width: 1010px;
    height: 650px;
    left: 467px;
    top: 75px;

    background: #FAFAFA;
    box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

input[type="text"], 
input[type="email"]{
    font-family: Rubik;
    padding: 30px;
}

input[type="email"]{
    position: absolute;
    width: 555px;
    height: 60px;
    left: 694px;
    top: 405px;
}

input[type="email"]{
    outline: none;
    border: none;
    position: absolute;
    width: 555px;
    height: 60px;
    left: 227px;
    top: 405px;

    background: #F4F4F4;
    border-radius: 60px;
}

input[type="email"], input[type="text"]::-ms-input-placeholder{
    position: absolute;
    width: 317px;
    height: 21px;
    left: 723px;
    top: 423px;

    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #646464;
}

input[type="text"]{
    position: absolute;
    width: 555px;
    height: 60px;
    left: 694px;
    top: 485px;
}

input[type="text"]{
    position: absolute;
    outline: none;
    border: none;
    width: 555px;
    height: 60px;
    left: 227px;
    top: 485px;

    background: #F4F4F4;
    border-radius: 60px;
}

.btn{
    position: absolute;
    width: 555px;
    height: 60px;
    left: 227px;
    top: 565px;
}

button{
    position: absolute;
    width: 555px;
    height: 60px;
    left: 694px;
    top: 565px;

    background: #8DE07F;
    border-radius: 60px;
}

.btn::after{
    position: absolute;
    width: 131px;
    height: 29px;
    left: 906px;
    top: 581px;

    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 159.5%;

    color: #FFFFFF;
}

strong{
    font-weight:bold;
}

p{
    position: absolute;
    width: 684px;
    height: 58px;
    left: 180px;
    top: 280px;

    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 159.5%;
    text-align: center;

    color: #646464;
}

.logo{
    position: absolute;
    width: 250px;
    height: 59.01px;
    left: 390px;
    top: 174px;
}


