
.logo{
    padding: 30px;
}

h1{
    margin-top: 20px;
    margin-left: 30px;
    display: block;
    top: 500px;
    font-family: Rubik;
}

table {
    width: 100%;
}

table {
    width: 100%;
    table-layout: fixed;
}

::ng-deep.mat-dialog-container {
    background: orange !important;
    opacity: 1 !important;
}

.btn{
    width: 50%;
    width: 50%;
    table-layout: fixed;
    border-collapse: collapse;
    top: 10px;
}

#btn-export{
    margin-left: 180px;
}

.mat-raised-button.mat-success {
    color: white;
    background-color: #155724;
}
  
.mat-raised-button.mat-warning {
    color: white;
    background-color: hsla(0, 80%, 35%, 1);
}
  
.mat-raised-button.mat-danger{
    color: black;
    background-color: #FFA500;
}


