<!DOCTYPE html>  
<html class="no-js" lang="pt-br">


<head>
</head>

<body id="lista">
    <section id="top">
        <div class="logo">
            <img src="assets/images/Shopmee brand.png">
        </div>
        <h1>Lista de Visitantes</h1>
        <br>
    </section>

    <section id="tabela">
        <table mat-table [dataSource]="visitantes">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>
          
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> E-mail </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="opcoes">
                <th mat-header-cell *matHeaderCellDef> Opções 
                    <button mat-raised-button color="danger" id="btn-export" (click)="exportar()">Exportar</button>
                </th>
                <td mat-cell *matCellDef="let element">
                <br>
                <br>
                <button mat-raised-button color="success" class="btn" (click)="openDialog(element.id, element.email, element.nome)">Alterar</button>
                <br>
                <br>
                <button mat-raised-button color="warning" class="btn" (click)="confirmaDialog(element.id, element.email, element.nome)">Remover</button>
                <br>
                <br>
                </td>
              </ng-container>
               
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </section>
</body>
</html>